In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [37]:
weather = pd.read_csv('weather_df.csv')
weather.head()

,city,clouds,country,date,humid,lat,lng,max temperature,wind speed,hemi
0,jamestown,65,AU,1570464674,95,-33.21,138.60,43.97,9.93,southern
1,carballo,90,ES,1570465089,64,43.21,-8.69,75.99,3.36,northern
2,rocha,0,UY,1570464900,64,-34.48,-54.34,67.55,13.42,southern
3,saldanha,63,PT,1570465089,20,41.42,-6.55,80.33,2.28,northern
4,impfondo,100,CD,1570465090,95,1.62,18.06,74.93,1.12,northern

In [25]:
locations = weather[["lat", "lng"]]
humid = weather["humid"]

In [33]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid,
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))